

@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
    }
  
    .login-form{
        color: whitesmoke;
      background-color: #000000;
      justify-content:center;
      align-content: center;
      padding: 40px;
      height: 330px;
      box-shadow: 8px 8px 18px #000000;
      border-radius: 10px ;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }
    input.error {
      border-color: rgb(235, 54, 54);
    }
  
    .input-feedback {
      color: rgb(235, 54, 54);
      margin: 6px;
      font-size: 14px;
      
    }
  }
  