.income{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 60px;
  }

.incomeform{
    color: whitesmoke;
      background-color: #003eb1;
      justify-content:center;
      align-content: center;
      padding: 40px;
      width: 600px;
      height: 705px;
      margin: 5px 60px;
      box-shadow: 8px 8px 18px #000000;
      border-radius: 10px ;
    }
  



  